---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
	title="Welcome to Gratia Insurance Solutions"
	description="Some important words"
>
	<main></main>
</Layout>

<style lang="scss"></style>
