---
// Supports weights 400-900
//import "@fontsource-variable/playfair-display";
// Supports weights 100-900
//import "@fontsource-variable/urbanist/wght-italic.css";
import { Image } from "astro:assets";
import logo from "../images/logo.png";
import Logo from "../components/Logo.astro";
import { Icon } from "astro-icon/components";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.scss";

interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<a class="sr-only focus:not-sr-only skip-link" href="#intro"
			>Skip to main content</a
		>
		<header class="navbar">
			<nav class="navbar-container">
				<input
					type="checkbox"
					id="menu-toggle"
					aria-label="Display the menu"
					aria-controls="menu"
				/>
				<label class="menu-btn" for="menu-toggle">
					<span><Icon class="open" name="lucide:menu" /></span>
					<span class="x-wrapper"><Icon class="close" name="lucide:x" /></span>
				</label>

				<Navigation />
			</nav>
			<a href="/"><Logo class="small-screen" width="140" height="64" /></a>
			<span class="mobile"
				><a href="tel:+1-858-444-0903"><Icon name="lucide:phone" /></a></span
			>
		</header>
		<slot />
		<Footer />
	</body>
</html>
<script>
	const menu = document.getElementById("menu") as HTMLElement;
	const menuToggle = document.getElementById("menu-toggle") as HTMLFormElement;

	menu.addEventListener("click", handleMenuClick);

	function handleMenuClick(event: Event) {
		if (event.target instanceof HTMLAnchorElement) {
			menuToggle.checked = false;
		}
	}
</script>
